:root {
  --cor-bg-primaria: #f9edff;
  --cor-bg-secundaria: #ffffff;
  --cor-bg-terciaria:#301534;
  --cor-detalhe-primaria: #a237da;
  --cor-detalhe-secundaria: #341437;
  --cor-titulo: #2b182e;
  --cor-subtitulo: #38273B;
  --cor-texto: #948896;
}
