* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  background: var(--cor-bg-primaria);
}
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cor-bg-primaria)
    url("../images/background-pattern-desktop.svg") no-repeat;
  background-size: contain;
  padding: 200px 20px 145px 20px;
}

.faq-conteudo {
  background: var(--cor-bg-secundaria);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 565px;
  margin: 0 auto;
  padding: 40px;
  height: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  padding: 0 20px;
}
.faq-titulo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.faq-titulo h1 {
  color: var(--cor-titulo);
}
.bi-star-fill {
  color: var(--cor-detalhe-primaria);
  font-size: 36px;
}
/* .faq-accordion {
  max-width: 500px;
} */
.faq-accordion dt {
  font: 600 1.25em/1.3 "Work Sans", sans-serif;
  color: var(--cor-subtitulo);
  margin: 30px 0;
  padding-right: 10px;
}

.faq-accordion dd {
  color: var(--cor-texto);
  border-bottom: 1px solid var(--cor-subtitulo);
  margin-bottom: 20px;
}
.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bi-plus-circle-fill {
  color: var(--cor-detalhe-primaria);
}
.bi-dash-circle-fill {
  color: var(--cor-detalhe-secundaria);
}
.bi-dash-circle-fill:checked {
  animation: show 0.5s forwards;
}
/* @keyframes show {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
} */
@media (max-width: 1200px) {
  .faq {
    padding: 150px 15px;
  }
  .bi-star-fill {
    font-size: 24px;
  }
  .faq-titulo {
    margin-bottom: 20px;
  }
  .faq-accordion dt {
    margin: 20px 0;
  }
}
@media (max-width: 900px) {
  .faq {
    padding: 100px 15px;
  }
}
@media (max-width: 650px) {
  .faq {
    background: url("../images/background-pattern-mobile.svg") no-repeat;
    background-size: contain;
    padding: 145px 15px;
  }
}
